body {
  margin: 0;
  background-color: var(--bg-color);
  color:var(--font-color)
}
.el-button {
  border-color:var(--font-color)
}
::selection {
  background-color: #84cc16;
  // background-color: #84cc16;
  color: #1a2e05;
}
.font-family-en {
  font-family: 'Work Sans', sans-serif !important;
}
.container-bg{
  background-color: var(--container-bg-color);
}